<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PetShopProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PetShopProject.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/ddd05a221a.js" crossorigin="anonymous"></script>
</head>
<body>

    <header>
        <nav>
            <div class="logo">
                Pet-Site <i class="fa-solid fa-paw"></i>
            </div>
            <ul>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Home page</a></li>
                @if (@User.Identity!.IsAuthenticated)
                {
                    <li><a asp-area="" asp-controller="Animals" asp-action="Index">Admin</a></li>
                }
                else
                {
                    <li><a asp-area="" asp-controller="User" asp-action="Index">User</a></li>
                }
                <li><a asp-area="" asp-controller="Account" asp-action="Logout">Log-Out</a></li>
            </ul>
        </nav>
    </header>



    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footerContainer">
        <p style="color: white; font-weight: bold;">Dor Sirton</p>
        <p style="color: white; font-weight: bold;">   For More Info And Details Please Click At Below To Contact Me At The Channel's: </p>
        <div class="social">
            <a href="https://www.facebook.com/dor.sirton"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://github.com/DorSirton"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.instagram.com/invites/contact/?i=1dcsievpd9jb7&utm_content=6k2rdw"><i class="fa-brands fa-instagram-square"></i></a>
            <a href="https://www.linkedin.com/in/%D7%93%D7%95%D7%A8-%D7%A9%D7%A8%D7%98%D7%95%D7%9F-909bbb236"><i class="fa-brands fa-linkedin"></i></a>
            <a href="mailto:Dor7479@gmail.com"><i class="fa-solid fa-envelope"></i></a>
            <a href="tel:050-666-32-92"><i class="fa-solid fa-phone"></i></a>
        </div>
        <p class="end" style="color: lightblue; font-weight: bold;"> <span><i class="fa-solid fa-hand-peace fa-spin"></i></span> CopyRight By Dor Sirton <span><i class="fa-solid fa-hand-peace fa-spin"></i></span> </p>
    </footer>

    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
